<div
 style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <h1><%= message %></h1>
    <h2>Desculpe!, Ouve Um Error de connecção</h2>
    <pre>
        Nossa equipe ja esta resolvendo... 
        aquarde 1 minuto e recarreque a pagina por favor
    </pre>
    <h3 
    style="font-weight: lighter; background-color: lightseagreen; padding: 5px; font-size: 1.5 rem; color: #fff;">
        Em qual <b>Região</b> e o <b>Estados</b> que você mora?
    </h3>
    
        <img style="width: 60%; height: 600px;"
         src="https://i.pinimg.com/originals/3f/bd/54/3fbd545b10cbb462d4a6191db79707a8.jpg"
          alt="Regiões Brasileiras"/>

          <h3> Agora Vamos voltar?<a href="/">HOME</a></h3>
    
</div>
